<div class="content">
  <h1>About the Project</h1>
  <p>Elmasy is an attack surface management tool.
    Discover and assess as many as possible publicly accessible assets from a domain name.</p>
  <p>This project has 3 goals:</p>
  <ol>
    <li>To provide a website for non-professionals/professionals to check the attack surfaces of publicly accessible assets.</li>
    <li>To provide an API for professionals to work with easily.
      <ul>
        <li>The website will use the same API as your service.</li>
      </ul>
    </li>
    <li>To provide a wide range of libraries for professionals to work with without relying on external services.
      <ul>
        <li>The API will use the same library as you.</li>
      </ul>
    </li>
  </ol>
  <p>As we grow, we will know more protocols, more services and assess/evaluate as fast as the programming language allows.
    The project is starts from lower layers (like TCP and UDP), basic services (like web servers) and gathering basic information about the servers (like TLS ciphers).</p>
  <p>Firstly, our target audiences are the SMBs (small and medium sized businesses).</p>
  <hr>
  <h1 id="the-problem">The problem<a hidden="" class="anchor" aria-hidden="true" href="#the-problem">#</a></h1>
  <p>SMBs have a serious IT security problems. That’s a fact.</p>
  <p>If you are care about the security, you are still depend on SMBs that don’t.</p>
  <hr>
  <h1 id="the-process">The process<a hidden class="anchor" aria-hidden="true" href="#the-process">#</a></h1>
  <p>After you give a domain, Elmasy starts to discovery servers, assess the service, evaluate the result and give a score to the domain.</p>
  <p>The score is publicly accessible to anyone, without registration. The main goal in this is to allow to check not just your own domain, but your supply chain&rsquo;s.</p>
  <p>The details will be available to registered users <em>after some time</em>.</p>
  <hr>
  <h1 id="security">Security<a hidden class="anchor" aria-hidden="true" href="#security">#</a></h1>
  <p>There are two important term: <strong>blacklist</strong> and <strong>responsible disclosure</strong>.</p>
  <h2 id="blacklist">Blacklist<a hidden class="anchor" aria-hidden="true" href="#blacklist">#</a></h2>
  <p>Anyone can ask to include a domain on the blacklist. Just need to prove the domain ownership.</p>
  <h2 id="responsible-disclosure">Responsible disclosure<a hidden class="anchor" aria-hidden="true" href="#responsible-disclosure">#</a></h2>
  <p>As we said, any registered user can view the details after some time. The time will be negotiable. There will be a default time, but one can ask for more.</p>
  <hr>
  <h1 id="use-cases">Use cases<a hidden class="anchor" aria-hidden="true" href="#use-cases">#</a></h1>
  <ul>
    <li>Assess your IT infrastructure</li>
    <li>Assess your subcontractor&rsquo;s infrastructure</li>
  </ul>
  <h2 id="other-non-trivial">Other, non trivial<a hidden class="anchor" aria-hidden="true" href="#other-non-trivial">#</a></h2>
  <ul>
    <li>Investing: the numbers are awesome, but a rotting IT system can be a sign of internal problems.</li>
  </ul>
</div>
