@import "../../styles/index";

:host {
  width:100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    color: $clr-primary-color;
  }

  input, select {
    margin-bottom: 20px;
    padding: 10px;
    height: 50px;
    background: $clr-secondary-color;
    border-radius: 5px;
    border: 1px solid darken($clr-secondary-background, 10%);
    outline: none;
    vertical-align: middle;
  }

  button {
    margin: 0;
    height: 50px;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: $clr-primary-color;
    background: $clr-secondary-background;

    &:hover {
      background: darken($clr-secondary-background, 10%);
    }
  }
}

.loading{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  input, select {
    width: 100%;
    margin-bottom: 0;
  }
  label{
    display: block;
  }
  .form-field-error {
    color: red;
  }
}

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.error-box{
  width: 100%;
  padding: 20px;
  background: #f13535;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
